@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply font-sans bg-white-200 text-black-900;
	}
}

@layer components {
	// BUTTONS

	.button-one,
	.button-two,
	.button-three {
		@apply w-[160px] h-[48px] subtitle;
	}

	.button-one {
		@apply bg-orange-600 text-white-100 hover:bg-orange-300;
	}
	.button-two {
		@apply border hover:bg-black-900 hover:text-white-100;
	}
	.button-three {
		@apply text-black-900 text-opacity-50 add-orange-arrow hover:text-orange-600;
	}

	// FORM INPUTS
	.orange-ring {
		@apply ring-orange-600;
	}
	.grey-ring {
		@apply ring-black-200;
	}

	.text-input {
		label {
			@apply text-[12px] font-bold mb-2;
		}
		input {
			@apply px-6 py-3  rounded-lg text-sm font-bold placeholder-opacity-50 w-[309px] ring-1 grey-ring focus:orange-ring focus:outline-none;
		}
	}

	.radio-input {
		@apply px-6 py-3 rounded-lg w-[309px] ring-1 grey-ring focus:orange-ring hover:orange-ring focus:outline-none;
		input {
		}
		label {
			@apply text-sm font-bold ml-4;
		}
	}

	.input-error {
		label {
			@apply text-red-600;
		}
		input {
			@apply ring-red-600 ring-2;
		}
	}
}

@layer utilities {
	// TYPOGRAPHY

	.subtitle {
		@apply text-xs font-bold uppercase leading-[1.5625rem] tracking-[.0625rem];
	}
	.overline-text {
		@apply text-sm uppercase leading-[1.1875rem] tracking-[.625rem];
	}

	.body-text {
		@apply text-base leading-6 font-medium;
	}

	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		@apply font-bold uppercase;
	}

	.h1 {
		@apply text-6xl leading-[3.625rem] tracking-[.125rem];
	}
	.h2 {
		@apply text-5xl leading-[2.75rem] tracking-[.09375rem];
	}
	.h3 {
		@apply text-4xl leading-[2.25rem] tracking-[.071875rem];
	}
	.h4 {
		@apply text-3xl leading-[2.375rem] tracking-[.125rem];
	}
	.h5 {
		@apply text-2xl leading-[2.0625rem] tracking-[.10625rem];
	}
	.h6 {
		@apply text-lg leading-[1.5rem] tracking-[.08125rem];
	}

	// USED FOR button-three CLASS
	.add-orange-arrow {
		&::after {
			content: '';
			background-image: url('../public/icon-arrow-right.svg');
			background-repeat: no-repeat;
			background-position: center;
			width: 20px;
			height: 20px;
			position: absolute;
			transform: translateY(2px) translateX(8px);
		}
	}
}
