@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-sans bg-white-200 text-black-900 body-text;
  }
}

@layer components {
  .button-one,
  .button-two,
  .button-three {
    @apply w-[160px] h-[48px] subtitle;
  }
  .button-one {
    @apply bg-orange-600 text-white-100 hover:bg-orange-300;
  }
  .button-two {
    @apply border hover:bg-black-900 hover:text-white-100;
  }
  .button-three {
    @apply text-black-900 text-opacity-50 add-orange-arrow hover:text-orange-600 transform -translate-x-2;
  }
  .hamburger-button {
    background-image: url("/icon-hamburger.svg");
    background-repeat: no-repeat;
    background-position: center;
    @apply w-8 h-8;
  }
  .shopping-cart-button {
    background-image: url("/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
    @apply w-8 h-8;
  }
  .orange-ring {
    @apply ring-orange-600;
  }
  .grey-ring {
    @apply ring-black-200;
  }
  .text-input label {
    @apply text-[12px] font-bold mb-2;
  }
  .text-input input {
    @apply px-6 py-3 rounded-lg text-sm font-bold placeholder-opacity-50 w-[309px] ring-1 grey-ring focus:orange-ring focus:ring-2 outline-none border-none bg-white-200;
    caret-color: #d87d4a;
  }
  .input-error label {
    @apply text-red-600;
  }
  .input-error input {
    @apply ring-red-600 ring-2;
  }
  .radio-input {
    @apply flex items-center px-6 py-3 rounded-lg w-[309px] ring-1 grey-ring focus:orange-ring focus:ring-2 hover:orange-ring focus:outline-none;
  }
  .radio-input .radio-label {
    @apply font-bold text-sm ml-4;
  }
  .radio-button {
    @apply w-5 h-5 rounded-full border border-black-200;
  }
  .radio-button.radio-checked {
    @apply bg-orange-600 ring-inset ring-4 ring-white-200;
  }
  .number-input {
    @apply w-[120px] bg-white-400 flex items-center px-2  space-x-6 
    focus:outline-none focus:ring focus:ring-orange-600;
  }
  .number-input button {
    @apply text-black-900 text-opacity-50
      hover:text-opacity-100 hover:text-orange-600
      focus:outline-none disabled:hover:text-opacity-50 disabled:hover:text-black-900 p-2;
  }
  .number-input span {
    @apply text-xs font-bold;
  }
}

@layer utilities {
  .subtitle {
    @apply text-xs font-bold uppercase leading-[1.5625rem] tracking-[.0625rem];
  }
  .navlink {
    @apply text-xs uppercase leading-[1.5625rem] tracking-[.125rem];
  }
  .overline-text {
    @apply text-sm uppercase leading-[1.1875rem] tracking-[.625rem];
  }
  .body-text {
    @apply text-base leading-6 font-medium;
  }
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @apply font-bold uppercase;
  }
  .h1 {
    @apply text-6xl leading-[3.625rem] tracking-[.125rem];
  }
  .h2 {
    @apply text-5xl leading-[2.75rem] tracking-[.09375rem];
  }
  .h3 {
    @apply text-4xl leading-[2.25rem] tracking-[.071875rem];
  }
  .h4 {
    @apply text-3xl leading-[2.375rem] tracking-[.125rem];
  }
  .h5 {
    @apply text-2xl leading-[2.0625rem] tracking-[.10625rem];
  }
  .h6 {
    @apply text-lg leading-[1.5rem] tracking-[.08125rem];
  }
  .add-orange-arrow::after {
    content: '';
    background-image: url("../public/icon-arrow-right.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 20px;
    height: 20px;
    position: absolute;
    -webkit-transform: translateY(2px) translateX(8px);
            transform: translateY(2px) translateX(8px);
  }
  .hero-bg-image {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.2))), url("/assets/home/mobile/image-header.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)), url("/assets/home/mobile/image-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  @media (min-width: 768px) {
    .hero-bg-image {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1))), url("/assets/home/tablet/image-header.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/assets/home/tablet/image-header.jpg");
    }
  }
  @media (min-width: 1110px) {
    .hero-bg-image {
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.1))), url("/assets/home/desktop/image-hero.jpg");
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), url("/assets/home/desktop/image-hero.jpg");
    }
  }
  .content-container {
    @apply mx-6 md:mx-10 lg:max-w-screen-lg lg:mx-auto;
  }
}
/*# sourceMappingURL=utilities.css.map */